<h1>Entrer l'URL d'un article de blog</h1>
<% flash.each do |key, value| %>
	<% if key == :success %>
		<div style="color: green;"><%= value %></div>
	<% else %>
		<div style="color: red;"><%= value %></div>
	<% end %>
<% end %>
<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>
<%= debug(params) if Rails.env.development? %>
